<% include partials/header %>
    <form method="POST" action="/horse/add">
        <input type="text" name="horseName">
        <input type="text" name="horseAge">
        <input type="submit" value="Submit">
    </form>
<% include partials/footer %>