<form class="col-lg-3">
        <fieldset>
          <legend>Contact Us</legend>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input class="form-control" id="email" aria-describedby="emailHelp" placeholder="example@domain.com" type="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
                <label for="firstname">First Name</label>
                <input class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="(Optional)" type="text">
          </div>
          <div class="form-group">
                <label for="lastname">Last Name</label>
                <input class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="(Optional)" type="text">
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea class="form-control" id="message" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </fieldset>
      </form>